@import './vars.css';

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  /* background-color: var(--app-bg); */
  background-color: var(--sw-bg);
  color: white;
  align-items: center;
}
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sw-bg);
  padding: 5px 10px;
  margin-top: 50px;
  border: solid;
  border-color: rgb(200, 200, 30);
  border-width: 1px;
  border-radius: 5px;
  min-width: 500px;
}

.stopwatch-display-area {
  display: flex;
  flex-direction: column;
  font-family: 'Monaco';
  min-width: 230px;
  margin-top: 10px;
  padding: 0px 0px;
  background-color: var(--sw-bg);
  color: rgb(200, 200, 30);
  border: none;
}
.stopwatch-display-title {
  padding: 0px;
  margin: 0px 0px;
  width: fit-content;
  min-width: 50px;
  align-content: start;
  text-align: left;
}
.stopwatch-display {
  flex-direction: row;
  font-family: 'Menlo';
  font-size: 50px;
  min-width: 230px;
  padding: 0px 5px;
  margin-top: 0px;
  background-color: var(--display-bg);
  color: var(--display-fg);
  border: solid 4px var(--display-border);
}

.stopwatch-btn-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--sw-bg);
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  border: none;
  border-radius: 5px;
  min-width: 150px;
  min-height: 60px;
  color: var(--btn-text);
  margin: 5px 5px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

.btn-stop {
  background-color: var(--btn-stop);
}

.btn-stop:hover {
  background-color: var(--btn-stop-hover);
}

.btn-stop:active {
  background-color: var(--btn-stop-pressed);
}

.btn-start {
  background-color: var(--btn-start);
}

.btn-start:hover {
  background-color: var(--btn-start-hover);
}

.btn-start:active {
  background-color: var(--btn-start-pressed);
}

.btn-reset {
  background-color: var(--btn-reset);
}

.btn-reset:hover {
  background-color: var(--btn-reset-hover);
}

.btn-reset:active {
  background-color: var(--btn-reset-pressed);
}

.laps-area {
  display: flex;
  flex-direction: column;
  font-family: 'Menlo';
  font-size: 18px;
  margin-bottom: 10px;
}

.laps-header {
  font-size: 0.9rem;
  padding-left: 15px;
  padding-right: 35px;
  margin-bottom: 10px;
  font-family: 'Monaco';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(200, 200, 30);
}

.lap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px;
  border-color: var(--btn-reset-pressed);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 380px;
}
.lap-title {
  display: flex;
  flex-direction: row;
  justify-content: end;
  min-width: 20px;
}
.lap-placeholder {
  color: var(--btn-reset);
}

.best-lap-time {
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--btn-start);
  padding-left: 5px;
  padding-right: 5px;
}
.worst-lap-time {
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--btn-stop);
  padding-left: 5px;
  padding-right: 5px;
}
