:root {
  --app-bg: #393d45;
  --sw-bg: #222222;
  --display-bg: #9aada3;
  --display-fg: black;
  --display-border: black;
  --text-yellow: rgb(200, 200, 30);
  --btn-text: #eeeeee;
  --btn-stop: #961a1a;
  --btn-stop-hover: #a72b2b;
  --btn-stop-pressed: #740909;
  --btn-start: #1a9620;
  --btn-start-hover: #2ba731;
  --btn-start-pressed: #097400;
  --btn-reset: #555555;
  --btn-reset-hover: #666666;
  --btn-reset-pressed: #444444;
  --lap-bg: #333333;
}
